body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

a, button {
    background-color: #3490dc;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

a:hover, button:hover {
    background-color: #2779bd;
}
